* {
  padding: 0;
  margin: 0;
}

.container {
  background-color: #f4f4f4;
  display: flex;
  /* height: 500px; */
  /* flex-direction: column; */
  /* flex-direction: row-reverse; */
  /* flex-direction: column-reverse; */
  /* justify-content: start; */
  /* justify-content: space-around; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* justify-content: end; */

  /* align-items: start; */
  /* align-items: center; */
  /* align-items: end; */

  /* flex-wrap: wrap; */
}

.item {
  width: 100px;
  height: 100px;
  background-color: cadetblue;
  color: white;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-basis: 200px; */
  flex: 1 0 200px;
  /* align-self: start; */
}

.item:nth-child(1) {
  /* align-self: start; */
  /* order: 3; */
  /* flex-grow: 1;
  flex-shrink: 1; */
}

.item:nth-child(2) {
  /* flex-grow: 1;
  flex-shrink: 2; */
  /* align-self: end; */
  /* flex-basis: 200px; */
}

.item:nth-child(3) {
  /* flex-grow: 1;
  flex-shrink: 3; */
  /* align-self: end; */
  /* order: 2; */
}


